body{
    background-color: wheat;
    font-family: "Comic Sans MS",Arial, Helvetica, sans-serif;
}

.aligner{
    display: flex;
    justify-content: center;
    align-items:center;
}

h1{
    
    color:darkorange;
    text-align: center;
    font-size: 50px;
}

h2{
    text-align: center;
}